@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 240 100.00% 98.04%;
  --foreground: 240 27.59% 22.75%;
  --card: 0 0% 100%;
  --card-foreground: 240 27.59% 22.75%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 27.59% 22.75%;
  --primary: 251.90 55.76% 57.45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 249.38 100% 93.73%;
  --secondary-foreground: 249.38 33.33% 37.65%;
  --muted: 240 50.00% 96.08%;
  --muted-foreground: 240 12.20% 48.24%;
  --accent: 218.46 100.00% 92.35%;
  --accent-foreground: 240 27.59% 22.75%;
  --destructive: 350.18 100% 66.47%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 34.78% 90.98%;
  --input: 240 34.78% 90.98%;
  --ring: 251.90 55.76% 57.45%;
  --chart-1: 251.90 55.76% 57.45%;
  --chart-2: 249.64 94.92% 76.86%;
  --chart-3: 239.18 82.02% 65.10%;
  --chart-4: 243.16 93.01% 71.96%;
  --chart-5: 243.65 47.33% 47.65%;
  --sidebar: 240 50.00% 96.08%;
  --sidebar-foreground: 240 27.59% 22.75%;
  --sidebar-primary: 251.90 55.76% 57.45%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.46 100.00% 92.35%;
  --sidebar-accent-foreground: 240 27.59% 22.75%;
  --sidebar-border: 240 34.78% 90.98%;
  --sidebar-ring: 251.90 55.76% 57.45%;
  --font-sans: Geist, sans-serif;
  --font-serif: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}

.dark {
  --background: 240 26.83% 8.04%;
  --foreground: 240 48.72% 92.35%;
  --card: 240 27.78% 14.12%;
  --card-foreground: 240 48.72% 92.35%;
  --popover: 240 27.78% 14.12%;
  --popover-foreground: 240 48.72% 92.35%;
  --primary: 251.25 100% 78.04%;
  --primary-foreground: 240 26.83% 8.04%;
  --secondary: 242.86 32.81% 25.10%;
  --secondary-foreground: 241.97 100% 88.04%;
  --muted: 240 33.33% 20%;
  --muted-foreground: 240 20.25% 69.02%;
  --accent: 240 33.33% 28.24%;
  --accent-foreground: 240 48.72% 92.35%;
  --destructive: 350.18 100% 66.47%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 26.15% 25.49%;
  --input: 240 26.15% 25.49%;
  --ring: 251.25 100% 78.04%;
  --chart-1: 251.25 100% 78.04%;
  --chart-2: 230.49 44.09% 63.53%;
  --chart-3: 206.71 89.02% 67.84%;
  --chart-4: 174.29 41.83% 50.78%;
  --chart-5: 325.52 100.00% 73.73%;
  --sidebar: 240 27.78% 14.12%;
  --sidebar-foreground: 240 48.72% 92.35%;
  --sidebar-primary: 251.25 100% 78.04%;
  --sidebar-primary-foreground: 240 26.83% 8.04%;
  --sidebar-accent: 240 33.33% 28.24%;
  --sidebar-accent-foreground: 240 48.72% 92.35%;
  --sidebar-border: 240 26.15% 25.49%;
  --sidebar-ring: 251.25 100% 78.04%;
  --font-sans: Geist, sans-serif;
  --font-serif: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
